[Unit]
Description=Guardar sesiones de tmux al cerrar sesión o apagar
DefaultDependencies=no
Before=shutdown.target reboot.target halt.target logout.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStop=/usr/bin/bash -c \
  'tmux list-sessions &>/dev/null && \
   tmux run-shell "$HOME/.config/tmux/plugins/tmux-resurrect/scripts/save.sh"'

[Install]
WantedBy=default.target
